.right-side 

  .main-header
    .main-header__text
      = @group.name
      .main-header__member
        - @group.users.each do |user|
          = user.name
    = link_to "edit",edit_group_path(params[:group_id]), class:'main-header__btn'

  .messages
    = render @messages

  = form_for [@group, @message] do |f|
    .chat
      .chat__box
        = f.text_field :content, class: 'chat__box__text', placeholder: 'type a message' 
        = f.label :image, class: "chat__box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "chat__box__image__file"
      = f.submit "Send", class: 'chat__send'