.left.side
  .side-header
    .top-item
      %h3.top-item__name
        = current_user.name
      %ul.top-item__icons
        %li.icon
        = link_to new_group_path do
          = icon('far', 'edit', class: 'icon1')
        %li.icon
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog fa-spin', class: 'icon2')
  .groupbox
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .groupbox__title  
          = group.name
        .groupbox__log
          = group.show_last_message